.contentStudent{
    width : 100%;
    height : 100vh;
}
.rowStudent{
    margin: 0px;
    
}

.headingStudent{
    text-align: left;
}

#labelStudent{
    float: left;
}

.inputBlock{
    width:100%;
    border-radius: 15px;
    padding: 5px;
}

.supervisorView{
    padding-right: 0;
    position: fixed;
    margin: 5%;
    height: 400px;
    
    
}
.modal-dialog-Student {
    min-width: 50%;
    
}

@media (min-width: 576px){
    .modal-dialog-Student {
        max-width: 100%;
        margin: 1.75rem auto;
    }
}